#contenedor-de-imagenes {
    background-color: black;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .cuerpo-imagen {
       display: flex;
       flex-direction: column;
       width: 300px;
       margin: 10px;
       div.imagen-y-fantasma {
        position: relative;
        &:hover #fantasma{
            display: flex;
        }
         img {
            width: 100%;
            border-radius: 20px;
        }
        #fantasma {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 1;
            display: none;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            .boton {
                margin: 10px;
                button {
                    background-color: black;
                    border: 0;
                    border-radius: 25px;
                    width: fit-content;
                    p {
                        margin: 10px 15px;
                        color: #06FF00;
                        font-weight: 500;
                        font-size: 15px;
                    }
                }
            }
            .likes {
                margin: 0 10px;
                p {
                    color: black;
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }
       }
        
    }
    .cuerpo-usuario {
        margin: 10px 10px;
            p {
                color: white;
                font-weight: 500;
                font-size: 15px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-bottom: 0;
            }
        .imagen-usuario {
            display: flex;
            margin-top: 10px;
            justify-content: flex-start;
            img {
              width: 40px;
              height: 40px;
              margin-right: 5px;
              border-radius: 100%;
           }
            a {
                color: white;
                text-decoration: none;
                font-size: 14px;
                margin-left: 5px;
                align-self: center;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}