@import "nav";
@import "contenedorImagenes";
@import "perfil";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    background-color: black;
}
body {
    height: auto;
    width: 100%;
}
main {
    background-color: black;
}
